.button--primary {
  background-color: #03aeee;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.button--secondary {
  background-color: white;
  color: gray;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button--icon {
  background-color: #eaf9ff;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 24px;
  border: none;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  font-size: 16px;
  justify-content: space-between;
}
.button-span {
  display: flex;
  border-radius: 40px;
  /* width:fit-content; */
  justify-content: center;
}
.button-span-icon{
  background-color: #eaf9ff;
}
.button-icon-img {
  background-color: #03aeee;
  border-radius: 30px;
  padding: 10px;
  /* height: 50px; */
  /* width: 50px; */
}
