.body-full {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 60px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

.label-data-box{
    display:flex;
    flex-direction: column;
}

.info-label {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
}

.info-status{
    border-radius: 5px;
}

.label-data-box .ACTIVE{
  background-color: #D3F4BE;
}

.label-data-box .INACTIVE{
  background-color: #FFBFBF;
}

.label-data-box .PROBATION{
  background-color: #F5ECB8;
}

