


.form-full {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.form-inputs .label-input-group {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
}
.address-box{
    width: calc(33.33% - 20px);
}
.address-box .label-input-group{
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .label-input-group {
        display: flex;
        flex-direction: column;
        width: calc(50% - 20px);
    }
}

.form-group__submit {
    margin-top: 20px;
    display: flex;
    gap: 20px
}


.content-header {
    height: 70px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    justify-content: center;
    background-color: white;
}
.content-header h1{
    margin-left: 20px;
}
